// Style de base du composent Hero
.hero {
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: red;
}

// Gestion index texte du début
.start-text {
  position: relative;
  z-index: 10;
}

// Style relatif aux textes du début
.start-text {
  overflow-y: hidden;
  
  h1, h2 {
    text-align: center;
    transition: transform .5s linear ;
    transform: translateY(150%);
  }

  h1 {
    font-size: 86px;
    line-height: .8;
    margin-bottom: 20px;
    background-image: linear-gradient(0deg, #FFC145 0%, #FE869F 30%, #EF7AC8 45%, #A083ED 70%, #43AEFF 85%);
    background-clip: text;
    color: transparent;
  }

  h2 {
    font-size: 38px;
  }
}

// Style relatif aux textes du milieu 
.middle-text {
  opacity: 0;
  position: absolute;
  top: 0;

  h1 {
    font-size: 55px;
    text-align: center;
  }
}

// Style relatif aux textes de la fin 
.end-text {
  position: fixed;
  bottom: -80px;
  text-align: center;
  transition: bottom 1s ease;
  // bottom: 25px;
}


// Gestion du bouton discover
.hero-btn-container {
  opacity: 0;
  transform: translateY(40px);
  transition: transform .5s linear, opacity .3s ease;
  margin: 50px 0;
  width: 166px ;
  height: 55px ;
  line-height: 55px ;
  position: relative;
  z-index: 9;

  .btn {
    font-size: 23px;
    border-radius: 40px;
    background-color: black ;
    box-shadow: 0px 0px 50px $red;
  }
}

// Gestion de la liste de casque 
.homepod-container {
  transition: bottom .7s linear, opacity .5s linear;
  opacity: 0;
  bottom: calc(100vh - $hp-height);
  transform-origin: bottom;
  position: fixed;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $hp-width;
  height: $hp-height;
  
  div {
    transform: scale(2.2) !important;
    --translate-width: 250px;
    --scale: .8;
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.cursor-1, .cursor-2 {
  top: 0;
  position: relative;
  position: absolute ;
  width: 100% ;
  height: 100% ;
  border-radius: 50%;
  background-color: rgba($color: $red, $alpha: .25);
  transform: scale(.5);
}

.cursor-1 {
  z-index: 14;
}

.cursor-2 {
  z-index: 12;
  background-color: rgba($color: $red, $alpha: .15) ;
}


// Gestion du texte à l'intérieur de homepad 
.homepod-container .homepod-text {
  transform: translateY(100px) scale(.5);
  transition: transform 1s ease;
  position: absolute;
  top: -100px;
  display: inline-block;
  z-index: 14;
  width: 200px;

  img {
    width: 100%;
  }

}

// Gestion des index 

.homepod-container div {
  z-index: var(--index);

  &:nth-of-type(1) {
    --index: 20 ;
  }
  
  &:nth-of-type(2) {
    --index: 19 ;
  }

  &:nth-of-type(3) {
    --index: 18 ;
  }

  &:nth-of-type(4) {
    --index: 17 ;
  }

  &:nth-of-type(5) {
    --index: 16 ;
  }
}


//
//
// Gestion des Etats d'animation
//
//
//

.start {
  .start-text {
  
    h1, h2 {
      transform: translateY(0);
    }
  }

  .homepod-container {
    opacity: 1 !important;
    bottom: calc(-.5 * $hp-height) !important;

  img {
    transform-origin: top !important;
  }
  }

  .hero-btn-container {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}

.middle {
  .start-text {
    transform: scale(0) !important;
    transition: transform .5s linear !important;

    h1, h2 {
      transform: none !important;
      transition: none !important;
    }
  }

  .homepod-container {
    bottom: 20px;
    opacity: 1;
    transform-origin: top;
    transition: bottom 1s ease !important;
    

    div {
      transform: scale(1) !important;
      transition: transform 1s ease !important;
      
    }
  }

  .middle-text {
    opacity: 1;
    transition: opacity .5s ease .3s !important;
  }

  .cursor-1 {
    animation-name: show-1;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-delay: 1s;
    animation-iteration-count: 2;
  }
  
  .cursor-2 {
    animation-name: show-2;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-delay: 1.3s;
    animation-iteration-count: 2;
  }
}

.end {
  .start-text {
    transform: scale(0) !important;
    transition: transform .5s linear !important;

    h1, h2 {
      transform: none !important;
      transition: none !important;
    }
  }

  .homepod-container div {
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale)) !important;
    transition: all 1s ease ;

    &:nth-of-type(1) {
      --scale: 1;
      --translate-x: 0px ;
      --translate-y: 0px;
    }
    
    &:nth-of-type(2) {
      --scale: .8 ;
      --translate-x: calc(var(--translate-width) / 2) ;
      --translate-y: 0px;
    }
  
    &:nth-of-type(3) {
      --scale: .8 ;
      --translate-x: calc(var(--translate-width) / -2) ;
      --translate-y: 0px;
    }
  
    &:nth-of-type(4) {
      --scale: .6 ;
      --translate-x: var(--translate-width) ;
      --translate-y: 0px;
    }
  
    &:nth-of-type(5) {
      --scale: .6 ;
      --translate-x: calc(-1 * var(--translate-width) )  ;
      --translate-y: 0px;
    }
  
  }
  
  .homepod-container {
    $middle: calc($hp-height / 2);
    opacity: 1 !important;
    transform-origin: center !important;
    bottom: calc(50vh - $middle) !important;
  }

  .end-text {
    bottom:  25px !important;
  }

  .homepod-text {
    transform-origin: bottom !important;
    transform: translateY(0) scale(1);
  }
}

.close {

  .start-text {
    transform: scale(0) !important;
    transition: transform .5s linear !important;

    h1, h2 {
      transform: none !important;
      transition: none !important;
    }
  }

  .homepod-container div {
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale)) !important;
    transition: all 1s ease ;
    width: $hp-width;
    height: $hp-height;

    &:nth-of-type(1) {
      --scale: 1;
      --translate-x: 0px ;
      --translate-y: -80vh;
      opacity: 0;
    }
    
    &:nth-of-type(2) {
      --scale: .8 ;
      --translate-x: calc(var(--translate-width) / 2) ;
      --translate-y: -80vh;
      opacity: 0;
    }
  
    &:nth-of-type(3) {
      --scale: .8 ;
      --translate-x: calc(var(--translate-width) / -2) ;
      --translate-y: -80vh;
      opacity: 0;
    }
    &:nth-of-type(4) {
      --translate-width: 311px ;
      --translate-height: 289px;

      --scale: .4 ;
      --translate-x: calc(50vw - var(--translate-width) * .6) ;
      --translate-y: calc(50vh - var(--translate-height) * .5);
      transform-origin: bottom right;
    }
    &:nth-of-type(5) {
      --translate-width: 311px ;
      --translate-height: 289px;

      --scale: .4 ;
      --translate-x: calc((-1 * 50vw) - var(--translate-width) * -0.6) ;
      --translate-y: calc(50vh - var(--translate-height) * .5);
      transform-origin: bottom left;
    }
    
  }


  .homepod-container {
    $middle: calc($hp-height / 2);
    opacity: 1 !important;
    transform-origin: center !important;
    bottom: calc(50vh - $middle) !important;

    .cursor-1, .cursor-2 {
      transform: scale(0);
    }

  }

  .homepod-text {
    transform-origin: bottom !important;
    transform: translateY(-50vh) scale(1);
  }

  .end-text {
    opacity: 0 !important;
    transition: opacity 1s ease;
    bottom: 25px;
  }
}