* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: #0071E3;
  border-radius: 20px;
}

@keyframes show-1 {
  0% {
    transform: scale(0.7, 1);
  }
  50% {
    transform: scale(0.98, 1.4);
  }
  100% {
    transform: scale(0.7, 1);
  }
}
@keyframes show-2 {
  0% {
    transform: scale(0.7, 1);
  }
  50% {
    transform: scale(1.26, 1.8);
  }
  100% {
    transform: scale(0.7, 1);
  }
}
body {
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

header {
  top: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 96px;
  padding: 0 3rem;
}
header nav ul, header div {
  display: flex;
  justify-content: space-between;
}
header div {
  margin-top: 10px;
}
header div span {
  display: inline-block;
  height: 24px;
  width: 47px;
  line-height: 24px;
  text-align: center;
}
header h1 {
  font-size: 20px;
}

main {
  margin-top: 96px;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-text {
  position: relative;
  z-index: 10;
  overflow-y: hidden;
}
.start-text h1, .start-text h2 {
  text-align: center;
}
.start-text h1 {
  font-size: 86px;
  line-height: 0.8;
  margin-bottom: 20px;
}
.start-text h1 > span {
  overflow: hidden;
  display: block;
}
.start-text h1 > span span {
  background-image: linear-gradient(0deg, #FFC145 0%, #FE869F 30%, #EF7AC8 45%, #A083ED 70%, #43AEFF 85%);
  background-clip: text;
  color: transparent;
  display: block;
  transform: translateY(90px);
  transition: transform 0.5s linear;
}
.start-text h2 {
  font-size: 38px;
  overflow: hidden;
}
.start-text h2 span {
  display: block;
  transform: translateY(90px);
  transition: transform 0.5s linear;
}

.middle-text {
  opacity: 0;
  position: absolute;
  top: 0;
}
.middle-text h1 {
  font-size: 55px;
  text-align: center;
  line-height: 0.85;
}
.middle-text h1 span {
  display: block;
}
.middle-text h1 span:nth-of-type(1) {
  background: linear-gradient(to bottom, #43AEFF 85%, #A083ED 70%);
  background-clip: text;
  color: transparent;
}
.middle-text h1 span:nth-of-type(2) {
  background: linear-gradient(to bottom, #A083ED 70%, #FE869F 30%, #EF7AC8 45%);
  background-clip: text;
  color: transparent;
}
.middle-text h1 span:nth-of-type(3) {
  background: linear-gradient(to bottom, #A083ED 20%, #FFA745 0%);
  background-clip: text;
  color: transparent;
}

.end-text {
  position: fixed;
  bottom: -80px;
  text-align: center;
  transition: bottom 1s ease;
}

.hero-btn-container {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s linear, opacity 0.3s ease;
  margin: 50px 0;
  width: 166px;
  height: 55px;
  line-height: 55px;
  position: relative;
  z-index: 9;
}
.hero-btn-container .btn {
  font-size: 23px;
  border-radius: 40px;
  background-color: black;
  box-shadow: 0px 0px 50px #FF0057;
}

.homepod-container {
  transition: bottom 0.7s linear, opacity 0.8s linear;
  opacity: 0;
  bottom: calc(100vh - 289px);
  transform-origin: bottom;
  position: fixed;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 311px;
  height: 289px;
}
.homepod-container div {
  transform: scale(2.2) !important;
  --translate-width: 250px;
  --scale: .8;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top;
}
.homepod-container img {
  width: 100%;
  height: 100%;
}

.cursor-1, .cursor-2 {
  top: 0;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 0, 87, 0.25);
  transform: scale(0.5);
}

.cursor-1 {
  z-index: 14;
}

.cursor-2 {
  z-index: 12;
  background-color: rgba(255, 0, 87, 0.15);
}

.homepod-container .homepod-text {
  transform: translateY(100px) scale(0.5);
  transition: transform 1s ease;
  position: absolute;
  top: -100px;
  display: inline-block;
  z-index: 14;
  width: 200px;
}
.homepod-container .homepod-text img {
  width: 100%;
}

.homepod-container div {
  z-index: var(--index);
}
.homepod-container div:nth-of-type(1) {
  --index: 20 ;
}
.homepod-container div:nth-of-type(2) {
  --index: 19 ;
}
.homepod-container div:nth-of-type(3) {
  --index: 18 ;
}
.homepod-container div:nth-of-type(4) {
  --index: 17 ;
}
.homepod-container div:nth-of-type(5) {
  --index: 16 ;
}

.start .start-text h1 span span {
  transform: translateY(0);
}
.start .start-text h2 span {
  transform: translateY(0);
}
.start .homepod-container {
  opacity: 1 !important;
  bottom: -144.5px !important;
}
.start .homepod-container img {
  transform-origin: top !important;
}
.start .hero-btn-container {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.middle .start-text {
  transform: scale(0) !important;
  transition: transform 0.5s linear !important;
}
.middle .start-text h1, .middle .start-text h2 {
  transform: none !important;
  transition: none !important;
}
.middle .homepod-container {
  bottom: 20px;
  opacity: 1;
  transform-origin: top;
  transition: bottom 1s ease !important;
}
.middle .homepod-container div {
  transform: scale(0.7, 1) !important;
  transition: transform 1s ease !important;
}
.middle .middle-text {
  opacity: 1;
  transition: opacity 0.5s ease 0.3s !important;
}
.middle .cursor-1 {
  animation-name: show-1;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-delay: 1s;
  animation-iteration-count: 2;
}
.middle .cursor-2 {
  animation-name: show-2;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-delay: 1.3s;
  animation-iteration-count: 2;
}

.end .start-text {
  transform: scale(0) !important;
  transition: transform 0.5s linear !important;
}
.end .start-text h1, .end .start-text h2 {
  transform: none !important;
  transition: none !important;
}
.end .homepod-container div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y)) !important;
  transition: all 1s ease;
}
.end .homepod-container div:nth-of-type(1) {
  --scale-x: 0.7;
  --scale-y: 1;
  --translate-x: 0px ;
  --translate-y: 0px;
}
.end .homepod-container div:nth-of-type(2) {
  --scale-x: .56 ;
  --scale-y: .8 ;
  --translate-x: calc(var(--translate-width) / 2) ;
  --translate-y: 0px;
}
.end .homepod-container div:nth-of-type(3) {
  --scale-x: .56 ;
  --scale-y: .8 ;
  --translate-x: calc(var(--translate-width) / -2) ;
  --translate-y: 0px;
}
.end .homepod-container div:nth-of-type(4) {
  --scale-x: .48 ;
  --scale-y: .6 ;
  --translate-x: calc(var(--translate-width) ) ;
  --translate-y: 0px;
}
.end .homepod-container div:nth-of-type(5) {
  --scale-x: .48 ;
  --scale-y: .6 ;
  --translate-x: calc(var(--translate-width) / -1) ;
  --translate-y: 0px;
}
.end .homepod-container {
  opacity: 1 !important;
  transform-origin: center !important;
  bottom: calc(50vh - 144.5px) !important;
}
.end .end-text {
  bottom: 25px !important;
}
.end .homepod-text {
  transform-origin: bottom !important;
  transform: translateY(0) scale(1);
}

.close .start-text {
  transform: scale(0) !important;
  transition: transform 0.5s linear !important;
}
.close .start-text h1, .close .start-text h2 {
  transform: none !important;
  transition: none !important;
}
.close .homepod-container div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale)) !important;
  transition: all 1s ease;
  width: 311px;
  height: 289px;
}
.close .homepod-container div:nth-of-type(1) {
  --scale: 1;
  --translate-x: 0px ;
  --translate-y: -80vh;
  opacity: 0;
}
.close .homepod-container div:nth-of-type(2) {
  --scale: .8 ;
  --translate-x: calc(var(--translate-width) / 2) ;
  --translate-y: -80vh;
  opacity: 0;
}
.close .homepod-container div:nth-of-type(3) {
  --scale: .8 ;
  --translate-x: calc(var(--translate-width) / -2) ;
  --translate-y: -80vh;
  opacity: 0;
}
.close .homepod-container div:nth-of-type(4) {
  --translate-width: 311px ;
  --translate-height: 289px;
  --scale: .4 ;
  --translate-x: calc(50vw - var(--translate-width) * .6) ;
  --translate-y: calc(50vh - var(--translate-height) * .5);
  transform-origin: bottom right;
}
.close .homepod-container div:nth-of-type(5) {
  --translate-width: 311px ;
  --translate-height: 289px;
  --scale: .4 ;
  --translate-x: calc((-1 * 50vw) - var(--translate-width) * -0.6) ;
  --translate-y: calc(50vh - var(--translate-height) * .5);
  transform-origin: bottom left;
}
.close .homepod-container {
  opacity: 1 !important;
  transform-origin: center !important;
  bottom: calc(50vh - 144.5px) !important;
}
.close .homepod-container .cursor-1, .close .homepod-container .cursor-2 {
  transform: scale(0);
}
.close .homepod-text {
  transform-origin: bottom !important;
  transform: translateY(-50vh) scale(1);
}
.close .end-text {
  opacity: 0 !important;
  transition: opacity 1s ease;
  bottom: 25px;
}

.widget-open .start-text {
  transform: scale(0) !important;
  transition: transform 0.5s linear !important;
}
.widget-open .start-text h1, .widget-open .start-text h2 {
  transform: none !important;
  transition: none !important;
}
.widget-open .homepod-container div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y)) !important;
  transition: all 1s ease;
  width: 311px;
  height: 289px;
}
.widget-open .homepod-container div:nth-of-type(1) {
  --scale-x: .6;
  --scale-y: .6;
  --translate-x: 0px ;
  --translate-y: 0;
  opacity: 0;
  z-index: 18;
}
.widget-open .homepod-container div:nth-of-type(2) {
  --scale-x: .6 ;
  --scale-y: .6 ;
  --translate-x: 0 ;
  --translate-y: 0;
  z-index: 17;
  opacity: 0;
}
.widget-open .homepod-container div:nth-of-type(3) {
  --scale-x: .3 ;
  --scale-y: .4 ;
  --translate-x: calc(45px + 10px) ;
  --translate-y: calc(20px + 5px);
  opacity: 0;
  transform-origin: center;
  z-index: 16;
}
.widget-open .homepod-container div:nth-of-type(4) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 20;
  --scale-x: .6 ;
  --scale-y: .8 ;
  transform-origin: center;
  --translate-x: calc(var(--translate-width) / -3.5) ;
  --translate-y: 0;
}
.widget-open .homepod-container div:nth-of-type(5) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 19;
  --scale-x: .5 ;
  --scale-y: .6 ;
  --translate-x: 0 ;
  --translate-y: -30px;
  transform-origin: center;
}
.widget-open .homepod-container {
  opacity: 1 !important;
  transform-origin: center !important;
  bottom: calc(50vh - 144.5px) !important;
}
.widget-open .homepod-container .cursor-1, .widget-open .homepod-container .cursor-2 {
  transform: scale(0);
}
.widget-open .homepod-text {
  transform-origin: bottom !important;
  transform: translateY(-50vh) scale(1);
}
.widget-open .end-text {
  opacity: 0 !important;
  transition: opacity 1s ease;
  bottom: 25px;
}

.widget-open .music div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y)) !important;
  transition: all 1s ease;
  width: 311px;
  height: 289px;
}
.widget-open .music div:nth-of-type(1) {
  --scale-x: .6;
  --scale-y: .6;
  --translate-x: 0px ;
  --translate-y: 0;
  opacity: 0;
  z-index: 18;
}
.widget-open .music div:nth-of-type(2) {
  --scale-x: .6 ;
  --scale-y: .6 ;
  --translate-x: 0 ;
  --translate-y: 0;
  z-index: 17;
  opacity: 0;
}
.widget-open .music div:nth-of-type(3) {
  --scale-x: .3 ;
  --scale-y: .4 ;
  --translate-x: 45px ;
  --translate-y: 20px;
  opacity: 1;
  transform-origin: center;
  z-index: 16;
}
.widget-open .music div:nth-of-type(4) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 20;
  --scale-x: .6 ;
  --scale-y: .8 ;
  transform-origin: center;
  --translate-x: calc(var(--translate-width) / -3.5 + 100px) ;
  --translate-y: 100px;
}
.widget-open .music div:nth-of-type(5) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 19;
  --scale-x: .5 ;
  --scale-y: .6 ;
  --translate-x: 100px ;
  --translate-y: calc(-30px + 90px);
  transform-origin: center;
}

.widget-open .message div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y)) !important;
  transition: all 1s ease;
  width: 311px;
  height: 289px;
}
.widget-open .message div:nth-of-type(1) {
  --scale-x: .6;
  --scale-y: .6;
  --translate-x: 0px ;
  --translate-y: 0;
  opacity: 0;
  z-index: 18;
}
.widget-open .message div:nth-of-type(2) {
  --scale-x: .6 ;
  --scale-y: .6 ;
  --translate-x: 0 ;
  --translate-y: 0;
  z-index: 17;
  opacity: 0;
}
.widget-open .message div:nth-of-type(3) {
  --scale-x: .3 ;
  --scale-y: .4 ;
  --translate-x: calc(45px - 70px) ;
  --translate-y: calc(20px - 30px);
  opacity: 1;
  transform-origin: center;
  z-index: 16;
}
.widget-open .message div:nth-of-type(4) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 20;
  --scale-x: .6 ;
  --scale-y: .8 ;
  transform-origin: center;
  --translate-x: calc(var(--translate-width) / -3.5 + 100px) ;
  --translate-y: 100px;
}
.widget-open .message div:nth-of-type(5) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 19;
  --scale-x: .5 ;
  --scale-y: .6 ;
  --translate-x: -100px ;
  --translate-y: calc(-30px + 90px);
  transform-origin: center;
}

.widget-open .podcast div {
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale-x), var(--scale-y)) !important;
  transition: all 1s ease;
  width: 311px;
  height: 289px;
}
.widget-open .podcast div:nth-of-type(1) {
  --scale-x: .6;
  --scale-y: .6;
  --translate-x: 0px ;
  --translate-y: 0;
  opacity: 0;
  z-index: 18;
}
.widget-open .podcast div:nth-of-type(2) {
  --scale-x: .6 ;
  --scale-y: .6 ;
  --translate-x: 0 ;
  --translate-y: 0;
  z-index: 17;
  opacity: 0;
}
.widget-open .podcast div:nth-of-type(3) {
  --scale-x: .4 ;
  --scale-y: .5 ;
  --translate-x: 0px ;
  --translate-y: 0;
  opacity: 1;
  transform-origin: right;
  z-index: 16;
}
.widget-open .podcast div:nth-of-type(4) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 20;
  --scale-x: .6 ;
  --scale-y: .8 ;
  transform-origin: center;
  --translate-x: calc(var(--translate-width) / -3.5 + 100px) ;
  --translate-y: 100px;
}
.widget-open .podcast div:nth-of-type(5) {
  --translate-width: 311px ;
  --translate-height: 289px;
  z-index: 19;
  --scale-x: .4 ;
  --scale-y: .5 ;
  --translate-x: 0px ;
  --translate-y: 0;
  transform-origin: left;
}

.shrinking {
  top: -96px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transform: translateY(100vh);
  transition: transform 1s ease;
}
.shrinking img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center 80px;
}

.shrinking-active {
  transform: translateY(0);
}

.shrinking-close {
  transform: translateY(-100vh);
}

.widget {
  top: -96px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh);
  transition: transform 1s ease;
}

.widget-active {
  transform: translateY(0);
}

.widget .icon-container {
  position: absolute;
  top: 96px;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget .icon-with-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget .icon-with-text .item {
  height: 120px;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.widget .icon-with-text .item .img {
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: transform 0.5s linear, opacity 0.5s linear;
}
.widget .icon-with-text .item .img img {
  width: 100%;
  height: 100%;
}
.widget .icon-with-text .item:nth-of-type(1) .img {
  transform: translateY(-20px);
}
.widget .icon-with-text .text h3 {
  overflow: hidden;
  font-size: 30px;
  color: transparent;
}
.widget .icon-with-text .text h3 span {
  display: block;
  background: linear-gradient(0deg, #FFA745 0%, #FE869F 30%, #EF7AC8 45%, #A083ED 70%, #43AEFF 85%);
  background-clip: text;
  transform: translateY(40px);
  transition: transform 0.5s linear;
}
.widget .icon-with-text .text p {
  font-size: 17px;
  letter-spacing: -0.006px;
  color: #86868B;
}
.widget .icon-with-text .text p > span {
  display: block;
  overflow: hidden;
}
.widget .icon-with-text .text p > span span {
  display: block;
  transform: translateY(40px);
  transition: transform 0.5s linear;
}
.widget .icon-with-text .item {
  --rayon: 150px ;
  transform: translate(calc(cos(var(--angle)) * var(--distance-x)), calc(sin(var(--angle)) * var(--distance-y)));
}
.widget .icon-with-text .item:nth-of-type(1) {
  --angle: calc((3 * pi) / 2);
  --distance-x: 0px;
  --distance-y: var(--rayon);
}
.widget .icon-with-text .item:nth-of-type(2) {
  --angle: pi ;
  --distance-x: var(--rayon) ;
  --distance-y: 0px ;
}
.widget .icon-with-text .item:nth-of-type(3) {
  --angle: calc(pi / 2) ;
  --distance-x: 0px;
  --distance-y: var(--rayon);
}
.widget .icon-with-text .item:nth-of-type(4) {
  --angle: 0;
  --distance-x: var(--rayon);
  --distance-y: 0px;
}

.music .icon-with-text .item:nth-of-type(1) .text h3 span {
  transform: translateY(0);
}
.music .icon-with-text .item:nth-of-type(1) .text p span span {
  transform: translateY(0);
}
.music .icon-with-text .item:nth-of-type(1) .img {
  opacity: 1;
  transform: translateY(0);
}

.message .icon-with-text .item:nth-of-type(1) .img {
  opacity: 1;
  transform: translateY(-20px);
}
.message .icon-with-text .item:nth-child(2) .text {
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}
.message .icon-with-text .item:nth-child(2) .text h3 span {
  transform: translateY(0);
}
.message .icon-with-text .item:nth-child(2) .text p span span {
  transform: translateY(0);
}
.message .icon-with-text .item:nth-child(2) .img {
  opacity: 1;
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.podcast .icon-with-text .item:nth-of-type(1) .img {
  opacity: 1;
  transform: translateY(-20px);
}
.podcast .icon-with-text .item:nth-child(4) .text {
  opacity: 1;
  transform: translateY(-90px);
  transition: opacity 0.5s ease;
}
.podcast .icon-with-text .item:nth-child(4) .text h3 span {
  transform: translateY(0);
}
.podcast .icon-with-text .item:nth-child(4) .text p span span {
  transform: translateY(0);
}
.podcast .icon-with-text .item:nth-child(4) .img {
  opacity: 1;
  transform: translateY(-100px);
  transition: transform 0.5s ease;
}
.podcast .icon-with-text .item:nth-child(2) .text {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.podcast .icon-with-text .item:nth-child(2) .text h3 span {
  transform: translateY(0);
}
.podcast .icon-with-text .item:nth-child(2) .text p span span {
  transform: translateY(0);
}
.podcast .icon-with-text .item:nth-child(2) .img {
  opacity: 1;
  transform: translateY(-120px);
  transition: transform 0.5s ease;
}

/*# sourceMappingURL=index.css.map */
